.admin-menu {
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.admin-arrow-back {

    position: absolute;
    left: 2%;
    top: 15%;
}

.admin-arrow-back img {
    width: 20px;
}

.menu-option {
    background-color: #FFBE3F;
    padding: 50px 100px;
    border-radius: 20px;
    color: white;
    text-transform: uppercase;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1001;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 767px) {
    .admin-menu {
        height: auto;
        flex-wrap: nowrap;
        flex-direction: column;
        margin: 10px 0;
    }

    .menu-option {
        background-color: #FFBE3F;
        font-size: 10px;
        padding: 0;
        height: 100px;
        width: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        border-radius: 20px;
        color: white;
        text-transform: uppercase;
    }

}

@media (min-width: 768px) and (max-width: 1200px) {
    .admin-menu {
        margin: 10px 0;
        height: 100vh;
    }

    .menu-option {
        font-size: 16px;
        width: 300px;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        padding: 10px;
        color: white;
        margin: 10px 0;
    }
}