/* Contenedor del formulario */
.sectionAddVehicle {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  min-height: 100vh;
  margin-bottom: 20px;
  width: 100%;
  /* Deja espacio para el footer */
}

.add-vehicle-container {
  background: #FFBE3F;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  text-align: center;
  width: 50%;
}

.add-vehicle-form {
  display: flex;
  flex-direction: column;
  text-align: center;
  /* Títulos centrados */
}

/* Estilo para el botón */
.submit-button {
  background: #000000;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
}


.submit-button:hover {
  background: #000000;
}

.item-container {
  display: flex;
  gap: 5px;
  background-color: rgba(128, 128, 128, 0.644);
  padding: 5px;
  color: white;
  border-radius: 10px;
  margin-top: 10px;
  font-size: 14px;
}

.item-container button {
  background-color: red;
  color: white;
  border: 1px solid white;
  border-radius: 10px;
}

.add-vehicle-form-input{
  width: 100%;
}

.add-vehicle-form-input.modelo-marca, .add-vehicle-form-input.anio-patente{
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  font-size: bold;
}

.add-vehicle-form-input-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 10px;
  margin: 10px 0;
  align-items: center;
}

.add-vehicle-form-input-container button{
  width: 100%;
}

.add-vehicle-form-input.vehicle-descripcion{
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
}

.add-vehicle-form-input.vehicle-descripcion textarea{
  width: 100%;
  margin-top: 10px;
}

.add-vehicle-form-input-container select{ 
  width: 100%;
}

.add-vehicle-form-input-field{
  width: 100%;
  padding: 5px;
}

.custom-file-upload {
  background-color: #000000;
  color: white;
  padding: 10px;
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
}

.image-previews{
  padding: 10px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  /* max-width: 600px; */
  align-items: center;
  justify-content: start;
  gap: 10px;
}

.add-vehicle-container#modelo-edit{
  margin: 20px 0;
  width: 100%;
  height: 80vh;
  overflow: auto;
}

.add-vehicle-container#vehicle-edit{
  margin: 20px 0;
  width: 70%;
  height: 90vh;
  overflow: auto;
}

.add-vehicle-container#caracteristica-form{
  margin: 20px 0;
  width: 90%;
  overflow: auto;
}

@media (min-width: 320px) and (max-width: 768px) {

  .sectionAddVehicle{
    width: 100%;
  }

  .add-vehicle-container{
    margin: 20px 0;
    width: 80%;
  }

  .add-vehicle-container#vehicle-edit{
    margin: 20px 0;
    width: 80%;
    height: 80vh;
    overflow: auto;
  }

  .add-vehicle-container#modelo-edit{
    margin: 20px 0;
    width: 90%;
    height: 80vh;
    overflow: auto;
  }
  
  .add-vehicle-form-input-container {
    flex-direction: column;
    width: 100%;
  }
  
  .add-vehicle-form-input label, .input-precio label{
    width: 100%;
    text-align: start;
  }

  .add-vehicle-form-input{
    justify-content: space-between;
    flex-direction: column;
  }
}