.card {
  display: flex;
  gap: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card img {
  width: 100%;
  max-width: 350px;
  height: auto;
  border-radius: 5px;
  object-fit: cover;
}

.card-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-content button {
  width: 100%;
  background-color: #FFBE3F;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
}

.card-content button:hover {
  cursor: pointer;
}


.card:hover {
  border: 0.5px solid rgb(206, 217, 142);
}


/*
.card-grid {
    display: grid;
    grid-template-columns: 25% 25%;
    place-items: center;
    justify-content: center;
}

*/

.card-image {
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  width: 200px;
  height: auto;
  flex-wrap: wrap;
}


@media (max-width: 768px) {

  .card-grid {
    display: grid !important;
    grid-template-columns: 25% !important;
    place-items: center;
    justify-content: center;
  }
}