.card {
  display: flex;
  gap: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
}

.card img {
  width: 100%;
  max-width: 350px;
  height: auto;
  border-radius: 5px;
  object-fit: cover;
}

.card-content img{
  width: 76px;
}


.card-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-content button {
  width: 100%;
  background-color: #FFBE3F;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  margin:5px
}

.card-content button:hover {
  cursor: pointer;
}


.card:hover {
  border: 0.5px solid rgb(206, 217, 142);
}


/*
.card-grid {
    display: grid;
    grid-template-columns: 25% 25%;
    place-items: center;
    justify-content: center;
}

*/

.card-image {
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  width: 200px;
  height: auto;
  flex-wrap: wrap;
}

.favoritoCartel{
  background-color: #FFBE3F;
  padding: 20px;
  border-radius: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.favoritoCartel h1{
  max-width: 60%;
}

.acciones{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.acciones button, .acciones a{
  background-color: #000000;
  color: white;
  padding: 15px 25px;
  border-radius: 5px;
  margin: 10px 0;
  font-weight: bold;
  width: 100%;
}

@media (max-width: 768px) {
  .card {
    flex-direction: column;
    width: 600px;
  }
}

@media (max-width: 1800px) {

  .card-grid {
    display: grid !important;
    grid-template-columns: 25% !important;
    place-items: center;
    justify-content: center;
  }

  .card {
    flex-direction: column;
    width: 300px;
  }

  .card-content img{
    width: 20px;
  }
  
  
  .card-content-info{
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 10px;
  }
  
  .card-content button {
    width: 100%;
    background-color: #FFBE3F;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    margin:5px
    
  }
}