.card {
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    width: 300px;
    padding: 0.5rem 0.5rem 0 0.5rem;
    border: 0.5px solid rgb(136, 136, 136);
}


.card-content button{
    width: 100%;
    background-color: #FFBE3F;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    margin: 5px;
}

.card-content button:hover{
    cursor: pointer;
}


.card:hover {
    border: 0.5px solid rgb(206, 217, 142);
  }
  
  .card-grid {
    display: grid;
    grid-template-columns: 25% 25%;
    place-items: center;
    justify-content: center;
  }
  
  .card-image {
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
    width: 200px;
    height: auto;
    flex-wrap: wrap;
  }