
.card-grid {
  display: grid;
  grid-template-columns: 40% 40%;
  justify-content: center;
  width: 100%;
}
.disabled-day {
  background-color: red;
  color: #999999;
  cursor: not-allowed;
}

/*

.card {

  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  width: 200px;

  text-align: center;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: inline-block;
}

.card img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

*/

.contenedor {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

main {
  display: flexbox;
  align-items: center;
}


.add-product-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  margin-top: 230px;
}

.add-product-button img {
  height: 75px;
  width: 75px;
}

.react-datepicker__triangle{
  display: none;
}


.react-datepicker__header {
  background-color: #FFBE3F;
}

.react-datepicker__day--in-range, .react-datepicker__day--in-range, .react-datepicker__day--keyboard-selected, .react-datepicker__month-text--keyboard-selected, .react-datepicker__quarter-text--keyboard-selected, .react-datepicker__year-text--keyboard-selected, .react-datepicker__day--in-selecting-range:not(.react-datepicker__day--in-range, .react-datepicker__month-text--in-range, .react-datepicker__quarter-text--in-range, .react-datepicker__year-text--in-range), .react-datepicker__month-text--in-selecting-range:not(.react-datepicker__day--in-range, .react-datepicker__month-text--in-range, .react-datepicker__quarter-text--in-range, .react-datepicker__year-text--in-range), .react-datepicker__quarter-text--in-selecting-range:not(.react-datepicker__day--in-range, .react-datepicker__month-text--in-range, .react-datepicker__quarter-text--in-range, .react-datepicker__year-text--in-range), .react-datepicker__year-text--in-selecting-range:not(.react-datepicker__day--in-range, .react-datepicker__month-text--in-range, .react-datepicker__quarter-text--in-range, .react-datepicker__year-text--in-range){
  background-color: #FFBE3F !important;
  color: white;
}

.react-datepicker__day--excluded{
  content: '-';
  text-decoration: line-through;
  border-radius: 2px;
  color: red;
}

.react-datepicker__close-icon::after{
  background-color: #FFBE3F;
  color: black;
}

.buscador {
  margin-top: 0px;
  background-color: black;
  flex-direction: column;
  display: flex;
  width: 100%;
  align-items: center;
  padding: 10px;
  border: 1px solid #ced4da;
  justify-content: center;
  box-sizing: border-box;
  gap: 10px;
}

/* .jiMOeR .wrapper{
  width: auto !important;
} */

.buscador-form{
  margin: 15px 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 50%;
}

.buscador-title{
  color: white;
}

.buscador-title p{
  max-width: 33%;
  font-size: 14px;
  margin: 0 auto;
  text-align: center;
}

.buscador input {
  outline: none;
  border: none;
  height: 44px;
  border-radius: 24px;
  padding: 10px;
  font-size: 16px;
}

.categorias{
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}

.btn-buscar {
  border-radius: 24px;
  background-color: #FFBE3F;
  height: 44px;
  padding: 0 30px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}

.home-container{
  display: flex;
}

.btn-buscar:hover{
  cursor: pointer;
}

.buscar{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
}

.filter-results{
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.filter-results button{
  background-color: rgb(212, 65, 65);
  color: white;
  font-weight: bold;
  border: 2px solid rgb(190, 0, 0);
  border-radius: 5px;
}

.fechas{
  display: flex;
  color: white;
  gap: 10px;
}

.pagination div:hover{
  cursor: pointer;
}


#buscar {
  height: 25px;
  border-radius: .25rem;
  border: 1px solid #ced4da;
}

#reco {
  width: 170px;
  height: 25px;
  border-radius: .25rem;
  text-align: center;
  border: 1px solid #ced4da;
  margin-left: 10px;


}

#cate {
  width: 110px;
  height: 25px;
  text-align: center;
  border-radius: .25rem;
  border: 1px solid #ced4da;
  margin-left: 10px;

}

.div-hover{
  cursor: pointer;
}


@media (max-width: 768px) {

  .buscador-form{
    flex-direction: column;
    width: 100%;
  }

  .buscador-form-input{
    width: 100%;
  }

  .buscador-form div{
    margin: 2px 0;
  }

  .react-datepicker__input-container,  .react-datepicker__input-container input, .react-datepicker-wrapper{
    width: 100% !important;
  }

  .buscador-form-input input{
    width: 100%;
  }

  .buscador-form .buscar, .buscador-form .buscar button{
    width: 100%;
  }

  .buscador-title h1{
    font-size: 24px;
  }

  .buscador-title p{
    max-width: 100%;
    font-size: 12px;
  }

  .buscador {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    flex-direction: column;
  }
}
