.card {

  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 20px;
  width: 350px; /* Ancho de la tarjeta */
  text-align: center;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: inline-block;
}

.card img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.contenedor {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
  }

main {
  display: flexbox;
  align-items: center;


}


.add-product-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  margin-top: 230px;
}

.add-product-button img {
  height: 75px;
  width: 75px;
}


.buscador {
  margin-top: 0px;
  background-color: black;
  display: flex;
  width: 100%;
  height: 100%;
  padding: .400rem 2.25rem .375rem .75rem;
  line-height: 2.5;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  justify-content: center;
  box-sizing: border-box;
}

.buscador input {
  outline: none;
}

.btn-buscar {
  border-radius: .25rem;
  background-color: #ced4da;
  height: 30px;
  width: 100px;
  font-size: 16px;
}

#buscar {
  height: 25px;
  border-radius: .25rem;
  border: 1px solid #ced4da;


}

#reco {
  width: 170px;
  height: 25px;
  border-radius: .25rem;
  text-align: center;
  border: 1px solid #ced4da;
  margin-left: 10px;


}

#cate {
  width: 110px;
  height: 25px;
  text-align: center;
  border-radius: .25rem;
  border: 1px solid #ced4da;
  margin-left: 10px;

}


@media (max-width: 768px) {
  .buscador {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;

    }
    .btn-detail{
      background-color: black;
      color: white;
      padding: 10px 20px;
      margin-left: 10px;
      cursor: pointer;
      border-radius: 5px;
      width: 150px;
      font-size: 16px;
     }

    
    @media (max-width: 768px){
      .buscador{
        display: flex;
        align-items: center;
        justify-content: center;
        justify-content: space-between;
        
      }
    }
  }