
.background-image {
    background: url('https://images.pexels.com/photos/2832251/pexels-photo-2832251.jpeg?auto=compress&cs=tinysrgb&w=1600');
    background-size: cover;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  

  .add-vehicle-container {
    background: rgba(255, 255, 255, 0.8); 
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 400px;
  }
  
  .add-vehicle-form {
    display: flex;
    flex-direction: column;
    text-align: center; 
    width: 100%;
  }
  

  .label-field {
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center; 
  }
  

  .input-field {
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  

  .submit-button {
    background: #000000;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
  }
  
  .submit-button:hover {
    background: #000000;
  }