

/*  */



.right-block {
  display: flex;
  align-items: center;
  flex-direction: column; 
}
.user-info {
  display: flex;
  align-items: center;
}

.user-info div {
  margin-right: 8px; 
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  height: 120px;
  background: #FFBE3F;
  padding: 0 60px; 
  box-sizing: border-box; 
}

.user-info {
  display: flex;
  align-items: center;
}

.user-initials {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  background-color: #000000; 
  color: #ffffff; 
  font-size: 16px;
  font-weight: bold;
  margin-right: 8px; 
}

.user-greeting {
  padding: 50px;
}

.right-block {
  display: flex;
  align-items: center;
}

.right-block button {
  background-color: black;
  color: white;
  padding: 10px 20px;
  margin-left: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.right-block button.nav-button {
  width: 184px;
  height: 44px;
}

.burger-menu {
  display: none;
}

.logo-container {
  width: 110px;
  height: 110px;
}

.logo {
  width: 100%;
  height: 100%;
  object-fit: contain;
}


@media (max-width: 768px) {
  .nav-menu {
    display: none;
  }

  .burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .right-block {
    display: none;
  }
}

