@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Poppins', sans-serif;
}

body {
  margin: 0;
  padding-top: 120px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #D7DBDD;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  text-align: center;
}

a {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: rgb(136, 136, 136);
}

textarea {
  resize: none;
}

.iconos {
  display: flex;
  margin-left: 500px;
}

.icon {
  width: 30px;
  height: 30px;
  display: flex;
  padding: 3px;
}

button:hover{
  cursor: pointer;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  display: table;
  border: 1px solid #ccc;

}

ul{
  padding: 0;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.dark {
  background-color: #12121296;
  color: white;

}

.dark>a {
  color: white;
}

.divDetail {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

.spinner-container {
  background-color: rgba(255, 255, 255, 0.7); /* Fondo blanco pálido con opacidad */
  padding: 20px; /* Agrega un poco de espacio alrededor del spinner */
  border-radius: 8px; /* Ajusta según sea necesario */
}

.overlaySpinner{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(255, 255, 255, 1); /* Fondo blanco semitransparente para el efecto de desenfoque */
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden{
  display: none;
}

input[type="file"] {
  display: none;
}
