
body {
  margin: 0;
  padding-top: 120px;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #D7DBDD;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main-container {
  padding: 20px;
}

h1{
  text-align: center;
}

a{
  color: #000;
  text-decoration: none;
  margin: 5px;
  cursor: pointer;
}
a:hover{
  color: rgb(136, 136, 136);
} 

.iconos{
  display: flex;
  margin-left: 500px;
}

.icon{
  width: 30px;
  height: 30px;
  display: flex;
  padding:3px ;

  
}

.card{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  width: 200px;
  padding: 0.5rem 0.5rem 0 0.5rem;
  border: 0.5px solid rgb(136, 136, 136);
}

.card:hover{
  border: 0.5px solid rgb(206, 217, 142);
}

.card-grid{
  display: grid;
  grid-template-columns: 25% 25%;
  place-items: center;
  justify-content: center;
}

.card-image{
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  width: 200px;
  height: auto;
  flex-wrap: wrap;
}

table {
 border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    display: table;
    border: 1px solid #ccc;

}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.dark{
  background-color: #12121296;
  color: white;

}
.dark > a {
  color: white;
}

.divDetail{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}